@import url("https://fonts.googleapis.com/css?family=Oswald:700|Cinzel:900|Nunito");
* {
  margin: 0;
}
html body main {
  background-color: black;
}
main {
  font-family: 'Nunito', sans-serif;
}

header {
  padding: 20px;
  background: url("https://source.unsplash.com/P1qyEf1g0HU") no-repeat center center;
  background-size: cover;
}

.navbar-fixed-top {
  background: #D2B887;
  text-transform:uppercase;
  font-weight:700;
}
.navbar-fixed-top a {
  color: black;
}
@media screen and (min-width:768px){
  header .navbar{
  background-color: transparent;
  border-bottom: 0.5px solid white;
  text-transform:uppercase;
  font-size:15px;
  color: white;
  font-weight:700;
  padding:0;
  transition-duration:0.5s;
 }

.navbar a, .navbar a:link, .navbar a:active  {
     color: white;
 }
 .navbar a:hover {
   color: black;
 }
  header .collapse-navbar{
   padding:10px;
   background-color:#D2B887;
   transition-duration:0.5s;
   color: black;
   border: none;
  }
  header .collapse-navbar a, header .collapse-navbar a:link {
    color:black;
  }
}

#about {
  margin-top: 70px;
}

.bg-grey {
  background-color: grey;
  padding: 15px;
  color: black;
}
.bg-lgrey {
  background-color: lightgrey;
  padding: 15px;
}
.about-section {
  padding: 25px;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: 'Oswald', sans-serif;
}
.gold, .gold a:link, .gold a:visited, .gold a:active, .days a:hover {
  color: #D2B887;
}
.md-font {
  font-size: 25px;
}
.sm-font {
  font-size: 18px;
}
.thumbnail {
    padding: 8px;
    background-color: black;
    color: #D2B887;
}
.thumbnail img {
    margin-bottom: 10px;
}
.logo {
  color: #D2B887;
  font-size: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.bg-grey a+a {
  border-left: 1px solid black;
}
.cinzel{
  font-family: 'Cinzel', serif;
}
footer {
  background-color: #D2B887;
  padding: 10px;
  border: none;
}
