html, body {
  background-color: black;
  color: white;
}
.navbar-default {
  background-color: #D2B887;
  border: none;
  border-radius: 0;
  padding: 10px;
  color: black;
}

nav a:link, .nav a:hover {
  color: black !important;
}

.nav a:hover {
  background-color: white !important;
}

nav li+li {
  border-left: 1px solid black;
}

.btn-default {
  background-color: #D2B887;
  border: none;
}

.btn-default:hover {
  background-color: #DFB887;
}

.gold, .gold a:link, .days a:link {
  color: #D2B887;
}

.lg-font {
  font-size: 35px;
}

.md-font {
  font-size: 25px;
}

.sm-font {
  font-size: 18px;
}

.today {
  padding: 15px;
  margin: 15px;
}
